﻿@{ Layout = "~/Shared/_Layout.cshtml";}

@{ 
    int id;

    IList<Especialidade> listaespecialidade = new EspecialidadeBO().Listar();
    IList<Municipio> listaMunicipio = new MunicipioBO().Listar();
}




<div class="linhaSuperior"></div>

<div class="container margemSuperior">
    <div class="center-block">
        <img src="~/img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
        <span class="tituloLadoLogo">
            Encontre os<strong> melhores</strong> especialistas <strong>aqui!</strong> 
        </span>
    </div>
    <div class="col-md-8">
        <form method="post">
            <div class="row form-group">
                <div class="col-xs-8">
                    <label>Selecione a Especialidade</label>
                    <select  name="slEspecialidade" id="slEspecialidade" class="form-control">
                        <option value="none">Selecione a Especialidade</option>
                        
                            @if (listaespecialidade != null)
                            {
                                 foreach (var item in listaespecialidade)
                                 {

                                       <option value="@item.EspecialidadeID">@item.Descricao</option>

                                 }
                                
                                
                            }
                        </select>
                    
                    
</div>

            </div>

            <div class="row form-group">
                <div class="col-xs-4">
                    <label>Município</label>
                    <select name="slMunicipio" id="slMunicipio" class="form-control">
                        <option value="none">Selecione o Municipio</option>

                         @if (listaMunicipio != null)
                            {
                                 foreach (var item in listaMunicipio)
                                 {
                                       <option value="@item.MunicipioID">@item.Descricao</option>

                                 }

                            }
                      
                    </select>
                </div>


            </div>
            
            <p><a href="~/Consultas/Lista_Especialidades.cshtml?especialidadeid=1" class="btn btn-success">Buscar</a><p>
        
                     


        </form>
    </div>
</div>
