﻿@{ Layout = "~/Shared/_Layout.cshtml";}

@{
    IList<Medico> listaMedico = new MedicoBO().Listar();
}

<div class="separaRow"></div>
<div class="card">
    <div class="card-header">
        Medicos Cadastrados
    </div>
    <div class="card-body">
        @if (listaMedico != null)
        {
            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>CRM</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>

                @foreach (var item in listaMedico)
                {
                    <tr id="@item.ParceiroID">
                        <td>@item.Nome</td>
                        <td>@item.CRM</td>
                        <td>@item.Telefone</td>
                        <td>
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="#" onclick="Excluir('@item.ParceiroID')" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Nenhuma Medico Cadastrado!</p>
        }
    </div>
</div>
