﻿@{ Layout = "~/Shared/_Layout.cshtml";}

@{
    int especialidadeID = int.Parse(Request.QueryString["especialidadeid"]);
   
    IList<Medico> listaMedico = new MedicoBO().ListarPorEspecialidade(especialidadeID);

}
<div class="linhaSuperior"></div>
<div class="container margemSuperior">
    <div class="center-block">
        <img src="~/img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
        <span class="tituloLadoLogo">
            Os<strong> melhores</strong> Especialistas você encontra <strong> aqui </strong>!
        </span>
    </div>
    <div class="col-md-8">
        <form>

            <div class="container paineis">
         
                <section class="painel novidades">
                 @*<h2>Profissionais Encontrados!</h2>*@
                   
                    @if(listaMedico!= null)
                    {
                        <div class="col-md-12">
                        @foreach (var item in listaMedico)
                        {
                            <div class="col-md-3">
                                <img src="~/img/iconMed.png" class="img-circle">
                                <p class="tituloesp">@item.Nome</p>
                                <p><strong>CRM:</strong>@item.CRM<strong>Especialidade:</strong> @item.EspecialidadeID</p>
                                <p><strong>Competencias:</strong>@item.Competencias</p>
                                <p><strong> Contato:</strong> @item.Telefone <strong>Email:</strong>@item.Email</p>                               
                                <p> <strong>Endereço:</strong> @item.Endereco - @item.MunicipioID</p>
                                <p><a href="~/Consultas/DetalhesEspecialidade.cshtml" class="btn btn-success">+ Detalhes</a><p>

                            </div>
                        }

                    </div>

                    }

                    else
                    {
                       <p> Nenhuma Aluno Cadastrado!</p>

                    }



                </section>
            </div>

        </form>
    </div>
</div>
<script>
    function Excluir(id) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            // browsers IE
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var apagar = confirm("Deseja excluir o resgistro?");
        if (apagar == true) {
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //Capturar a linha da tb e excluir do html
                    var linha = document.getElementById(id);
                    linha.parentNode.removeChild(linha);
                }
            };
            xmlhttp.open("GET", "pgExcluirAluno.cshtml?id=" + id, true);
            xmlhttp.send();
        }

    }
</script>

