﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Especialidade</title>

    <!-- folhas de estilo-->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <!-- fim folhas de estilo-->

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#87D780">
    <!-- fim do favicon -->

</head>
<body>
    <div class="linhaSuperior"></div>

    <div class="container margemSuperior">
        <div>
            <img src="img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
            <span class="tituloLadoLogo">
                Adicionar <strong>especialidades</strong>
            </span>
        </div>
        <div class="col-md-8">
            <form>

                <div class="row form-group">
                    <div class="col-md-10">
                            <label >Especilidades</label>
                            <select name="especilidades" class="form-control">
                                <option value="0">Pediatria</option>
                                <option value="0">Cardiologia</option>
                            </select>
                    </div>
                    <div class="col-xs-2">
                        <label style="color: #ffffff">Adicione</label>
                        <button type="button" class="btn btn-success">Adicioanar</button>
                    </div>
                </div>

                <br>

                <div class="">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th colspan="2">Minhas Especilidades</th>
                        </tr>

                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Pediatria</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cardiologia</td>
                        </tr>
                    </table>
                </div>

            </form>
        </div>
    </div>
</body>
</html>