﻿
@{ Layout = "~/Shared/_Layout.cshtml";}
<div class="container margemSuperior">
    <form class="col-md-4 col-lg-offset-4" id="formulario" onsubmit="validar(this)">
        <div class="loginLogo">
            <img src="img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
        </div>
        <input type="text" class="form-control" placeholder="Usuario" name="email">
        <div class="espacamentoInput"></div>
        <input type="password" name="password" class="form-control" placeholder="Senha">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Ficar conectado
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
    </form>
</div>

<script src="~/js/script.js"></script>
