﻿@{ Layout = "~/Shared/_Layout.cshtml";}

@{
    int id = 1;
    IList<Especialidade> listaespecialidade = new EspecialidadeBO().Listar();
    IList<Municipio> listaMunicipio = new MunicipioBO().ListarporEstado(id);
    IList<Estado> listaEstado = new EstadoBO().Listar();

}



@{

    string msg = "";

    if (IsPost)
    {
        Medico objetomedico = new Medico();
        objetomedico.Nome = Request["txtNome"];
        objetomedico.Cpf = Request["txtCpf"];
        objetomedico.Sexo = char.Parse(Request["slsexo"]);
        objetomedico.EspecialidadeID =int.Parse(Request["slespecialidade"]) ;
        objetomedico.Competencias = Request["txtcompetencias"];
        objetomedico.CRM = Request["txtCRM"];
        objetomedico.Email = Request["txtEmail"];
        objetomedico.Telefone = Request["txtTelefone"];
        objetomedico.MunicipioID = 1;
        objetomedico.Cep = Request["txtcep"];
        objetomedico.Endereco = Request["txtendereco"];
        objetomedico.EnderecoNumero = int.Parse(Request["txtnumero"]);
        objetomedico.Foto = Request["flfoto"];
        //int.Parse(Request["slmunicipio"]);

        if (Request["txtData"] != string.Empty)
        {
            objetomedico.DataNascimento = DateTime.Parse(Request["txtData"]).Date;
        }

        msg = new MedicoBO().Gravar(objetomedico);


    }
}

@if (msg != string.Empty)
{
    <div class="alert alert-primary separaRow" role="alert">
        @msg
    </div>
}




    <div id="div1" class="container margemSuperior">
        <div>
            <img src="~/img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
            <span class="tituloLadoLogo">
                Seja um <strong>parceiro!</strong>
            </span>
        </div>
        <div class="col-md-8">
            <form method="post" id="form1">
                <div class="row form-group">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" name="txtNome" id="txtNome" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>CPF</label>
                            <input type="number" name="txtCpf" id="txtCpf" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Data Nascimento</label>
                            <input type="text" name="txtData" id="txtData" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Sexo</label>
                            <select name="slsexo" id="slsexo" class="form-control">
                                <option>M</option>
                                <option>F</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>CRM</label>
                            <input type="number" name="txtCRM" id="txtCRM" class="form-control">
                        </div>
                    </div>
                </div>
               <div class="row form-group">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Especialidade</label>
                        <select name="slEspecialidade" id="slEspecialidade" class="form-control">
                            <option  value="none">Selecione a Especialidade</option>
                                @if (listaespecialidade != null)
                                {
                                foreach (var item in listaespecialidade)
                                {
                                        <option value="@item.EspecialidadeID">@item.Descricao</option>
                            
                                }

                            }
                            
                        </select>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Competencias</label>
                        <input type="text" name="txtCompetencias" id="txtCompetencias" class="form-control">
                    </div>
                </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-8">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="txtEmail" id="txtEmail" class="form-control">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Telefone</label>
                    <input type="text" name="txtTelefone" id="txtTelefone" class="form-control">
                </div>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-xs-4">
                <div class="form-group">
                    <label>Estado</label>
                    <select name="slEstado" id="slEstado" class="form-control">
                        <option value="none">Selecione o Estado</option>
                          @if (listaEstado != null)
                                {
                                foreach (var item in listaEstado)
                                {
                                        <option value="@item.EstadoID">@item.Descricao</option>
                            
                                }

                            }
                    </select>
                </div>
            </div>
            <div id="dvMuni" class="col-xs-4">
                <label>Municipio</label>
                <select name="slmunicipio" id="slmunicipio" class="form-control">
                    <option value="none"> selecione o Municipio</option>
                      @if (listaMunicipio != null)
                                {
                                foreach (var item in listaMunicipio)
                                {
                                        <option value="@item.MunicipioID">@item.Descricao</option>
                            
                                }

                            }

                </select>
            </div>
            <div class="col-xs-3">
                <label>CEP</label>
                <input type="number" name="txtcep" id="txtcep" class="form-control">
            </div>

        </div>
        <div class="row form-group">

            <div class="col-xs-4">
                <label>Endereço</label>
                <input type="text" name="txtendereco" id="txtendereco" class="form-control">
            </div>
            <div class="col-xs-3">
                <label>Numero</label>
                <input type="number" name="txtnumero" id="txtnumero" class="form-control">
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Foto</label>
                    <input name="flfoto" id="flfoto" type="file">
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Aceitar termos.
            </label>
        </div>
        <button type="submit" onclick="Gravar" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
    </div>



<script type="text/javascript">




    
    function loadlist();
    {
        document.slmunicipio.options.length = listaMunicipio.length;
        for (i = 0; i < listaMunicipio.length; i++) {
            document.form1.slmunicipio.options[i] = new Option(listaMunicipio[i], listaMunicipio[i]);
        }
    }






</script>
