﻿@{ Layout = "~/Shared/_Layout.cshtml";}
<div class="linhaSuperior"></div>
<div class="container margemSuperior">
    <div class="center-block">
        <img src="img/logo_square.png" class="logoTopoForm" width="100" alt="HealtPlus">
        <span class="tituloLadoLogo">
            Encontre os<strong> melhores</strong> especialistas!
        </span>
    </div>
    <div class="col-md-8">
        <form>
            <div class="row form-group">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Foto</label>
                <input type="file">
            </div>
            <div class="row form-group">
                <div class="col-xs-2">
                    <label>Estado</label>
                    <select class="form-control">
                        <option>RO</option>
                        <option>MS</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <label>CEP</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-xs-4">
                    <label>Endereço</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                    <label>Numero</label>
                    <input type="number" class="form-control">
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Aceitar termos.
                </label>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
<