﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><img src="img/logo_square.png" height="30px"> </a>-->
            <a class="navbar-brand" href="#" style="color:#ffffff;"> HealthPlus </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="~/Consultas/Consulta_Especialidades.cshtml">Especilidades</a></li>
                <li><a href="~/Medico/parceiro.cshtml">Parceiros</a></li>
                <li><a href="~/Medico/login.cshtml">Entre</a></li>
                <li><a href="~/Medico/usuario.cshtml">Cadastre-se</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>