.margemSuperior{
    margin-top: 15px;
}

.tituloLadoLogo{
    padding-top: 6px;
    font-size: 30px;
    color: #87D780;
    margin-left: 5px;
}
.tituloesp{
    padding-top: 2px;
    font-size: 20px;
    color: #87D780;
    margin-left:1px;
}

.logoTopoForm{
    margin-bottom: 20px;
    margin-left: 10px;
}

#logoHome{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50);
    color: white;
    font-size: 30px;
}
.linksHome{
    color: white;
    font-size: 20px;
}

.linhaSuperior{
    background-color: #87D780;
    height: 5px;
}

.loginLogo{
    margin-top: 5%;
    padding-left: 30%;
    padding-right: 30%;

}

.espacamentoInput{
    margin-top: 5px
}

.fundo{
    background-color: #87D780;
}


